<div class=" bg-gray-50">
  <div class="tophead h-6 flex flex-row bg-green-600"></div>
  <div class="profile h-16 flex flex-row justify-end  m-4">
    <div class="logo w-16 h-full justify-end rounded-full p-1">
      <!-- Image here -->
      <img class="w-32 rounded-full" src="https://www.nj.com/resizer/mg42jsVYwvbHKUUFQzpw6gyKmBg=/1280x0/smart/advancelocal-adapter-image-uploads.s3.amazonaws.com/image.nj.com/home/njo-media/width2048/img/somerset_impact/photo/sm0212petjpg-7a377c1c93f64d37.jpg" />
    </div>
  </div>
  <div class="DateTime h-16 flex mx-4  justify-between">
    <div class="font-sans text-4xl p-2 justify-start">Today</div>
    <div class="font-sans p-2 flex">
      <div class="flex h-5 w-5 justify-center absolute right-4 rounded-full mt-6 text-sm bg-green-500 text-white" [ngClass]="{hideDiv:!hideCompleted}">{{hiddenTask}}</div>
      <div class="mt-8 text-blue-400 cursor-pointer" (click)="onHideClick()">{{showHideToggle}}</div>
    </div>
  </div>
  <div class="taskBlock mx-4 mt-2" *ngFor="let task of todoList">
    <div class="todo min-h-16 px-2 flex flex-row rounded-lg cursor-pointer z-10 shadow-gray-00 shadow-sm"[ngClass]="{hideDiv:hideCompleted && task.completed}">
      <input type="checkbox" class=" rounded-xl my-auto" [(ngModel)]="task.completed" [ngModelOptions]="{standalone: true}" name="taskCheckBox"/>
      <div class="rightSection flex flex-col my-auto min-w-full"  (click)="onTaskCheckBoxClicked(task.id)" >
        <div class="ml-2 text-gray-600"  [ngClass]="{taskCompletedStyle:task.completed}">{{task.todo }}</div>
        <div class=" flex ml-2 text-gray-400">12:00AM</div>
      </div>

      
    </div>
  </div>
  <div class="addTask w-16 h-16 fixed bottom-8 right-4 bg-black text-white rounded-full pl-5 pt-2 text-4xl" (click)="displayAddTaskForm()">
    +
  </div>

  <div class="DateTime h-16 flex mx-4  justify-between">
    <div class="font-sans text-4xl p-2 justify-start">Tomorrow</div>
  </div>
  <div class="taskBlock mx-4 mt-2" *ngFor="let task of todoList">
    <div class="todo min-h-16 px-2 flex flex-row">
      <div type="checkbox" class="w-4 h-4 rounded-xl my-auto">&#9830;</div>
      <div class="rightSection flex flex-col my-auto">
        <div class="ml-2 text-gray-600">{{task.todo }}</div>
        <div class=" flex ml-2 text-gray-400">12:00AM</div>
      </div>

      </div>
    </div>
<div class="addFormModel fixed min-w-16 w-16 h-64 bg-blue-400">
  ok
</div>
</div>